In [1]:
# Import packages
import pandas as pd
import numpy as np

In [65]:
# Read excel file
df=pd.read_excel('ncsr.xlsx')
# Cut off bottom
df=df[:len(df)-7]
df.tail()

,Y,Psychiatrist,Med doctor,Psychologist,Social worker,Mental health pro,Non med pro,Spiritual Advisor,Healer,Counselor,...,D26Z,D26AA,D26BB,D26CC,D26DD,D26EE,D26FF,D26GG,D26HH,D26II
1800,1,0,0,0,0,0,0,1,0,0,...,1,1,1,1,5,5,1,1,1,1
1801,1,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,5,1,1,1,5
1807,0,0,1,0,0,0,0,0,0,0,...,5,5,5,5,NaN,NaN,1,1,1,1
1810,0,0,1,0,0,0,0,0,0,0,...,1,1,1,1,5,1,1,1,5,1
1825,1,0,0,1,0,0,0,0,0,0,...,1,1,5,5,NaN,NaN,5,1,1,1

In [66]:
# Variables assigned
features=['D26I','D26K','D26M','D26N','D26O','D26Q','D26V','D26DD','D26EE']

In [67]:
# Replace all 5's with 0's
df[features]=df[features].replace(5, 0)

In [68]:
# Replace all negative numbers with NaN
df[features]=df[features].replace([-7,-8,-9], np.NaN)

In [69]:
df[features].mean()

D26I     0.469136
D26K     0.136364
D26M     0.752874
D26N     0.330508
D26O     0.815789
D26Q     0.450980
D26V     0.720588
D26DD    0.375000
D26EE    0.301471
dtype: float64

In [70]:
df[features].isnull().sum()

D26I      51
D26K     272
D26M     120
D26N     176
D26O     256
D26Q     192
D26V      90
D26DD    158
D26EE    158
dtype: int64

In [71]:
# From Rebekah's data
D26H=[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,1,0,0,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,0,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
df['D26H']=D26H
df['D26H'].head()

14    1
17    1
18    1
28    1
32    1
Name: D26H, dtype: int64

In [82]:
df[df['D26H']==1]['D26O'].value_counts()
# df[df['D26H']==0]['D26O'].value_counts()

1.0    30
0.0     6
Name: D26O, dtype: int64

In [ ]:
rand_features=['D26I']

In [ ]:
df[df['D26H']==1]['D26K']=0
df[df['D26H']==0]['D26K']=0
df[df['D26H']==1]['D26M']=1
df[df['D26H']==0]['D26M']=1
df[df['D26H']==1]['D26N']=0
df[df['D26H']==0]['D26N']=0
df[df['D26H']==1]['D26O']=1
df[df['D26H']==0]['D26O']=0

In [39]:
for name in rand_features:
    df[name]=df[name].fillna(int(np.round(np.random.rand())))
    print(df[name].unique())

[1. 0.]
[1. 0.]
[1. 0.]
[1. 0.]
[0. 1.]
[1. 0.]
[1. 0.]
[1. 0.]
[1. 0.]

In [40]:
df[features].mean()

D26I     0.387755
D26K     0.935374
D26M     0.853741
D26N     0.731293
D26O     0.105442
D26Q     0.156463
D26V     0.806122
D26DD    0.710884
D26EE    0.676871
dtype: float64

In [9]:
# Save to excel file
df[features].to_excel('ncsr_clean_dana.xlsx')